/* General style */
* {
  padding: 0;
  margin: 0;
}
.background {
  padding: 3%;
  height: 100%;
  background-color: #f8f8f8;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* General Task List style */
.task-list {
  background-color: #f8f8f8;
  margin: 5% 0;
  padding: 3%;
  position: relative;
  min-width: 557px;
  min-height: 58px;
}
.deadline {
  background-color: #ffffff;
  min-width: 20%;
  padding: 3%;
  margin-right: 5%;
}
.content{
width: 30%;
padding: 3%;
margin-left: 2%;
}
.left-day{
  min-width: 22%;
  padding: 3%;
  margin-left: 5%;
}
.collapse-button{
  position: absolute;
  right: -9px;
  top: 30px;
}
.delete-button{
  position: absolute;
  right: -15px;
  bottom: -17px;
}
.done-button{
  position: absolute;
  right: 50px;
  bottom: -17px;
}
.scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none;
}

/*Sidebar.jsx style*/
.nav {
  width: 20%;
}

/* General Board style */
.board {
  -moz-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.12);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  background-color: #ffffff;
}
.title {
  text-decoration: underline;
}
.list-border {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px none;
}
.button{
  background: #B9BFF8;
}
/* Upcoming tasks Board style */
.upcoming-board {
  min-width: 540px;
  max-height: 520px;
  max-width: 640px;
  overflow-y: scroll;
}
.red-day {
  background-color: #ffcaca;
}
.yellow-day {
  background-color: #ffe7ca;
}
.green-day {
  background-color: #caffd9;
}
.expired-day {
  background-color: #d9d9d9;
}

/* today's .board */
.today-board{
  overflow-y: scroll;
  min-width: 540px;
  max-height: 520px;
  max-width: 640px;
}

/*form area style*/
form {
  position: relative;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 25px;
  bottom: -18px;
}
